/* General Styles */
.about {
  background-color: #F5F5F5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.about div {
  text-align: center;
  padding: 20px;
}

.about-h1{
  align-items: center;
}

/* Specific Element Styles */

/* Center the "ABOUT" title */
.about h1:first-child {
  text-align: center;
}

.about > .firstP {
  text-align: center;
}

/* Center the stock photo image */
.about img[src*="stock"] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* Center and resize the logo */
.about > .logo {
  width: 100px;
  height: 100px;
}

/* Center "OUR STANDARDS" */
.about div h1:nth-of-type(2) {
  text-align: center;
}

/* Center text underneath "OUR STANDARDS" */
.about div p {
  text-align: center;
}
