.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  pointer-events: none; 
}

.content {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.content img {
  height: 5rem;
}

.plus {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 3rem;
  margin-right: 7rem;
}

.plus:hover {
  cursor: pointer;
  color: green;
  transition: 0.2s;
}

.floatRight {
  position: fixed; /* Use fixed for consistent positioning */
  top: 0;
  right: 0;
  height: 100vh; /* Match viewport height */
  width: 50%;
  background-color: black; /* Background color on the container */
  transform: translateX(100%); /* Start off-screen */
  transition: transform 0.5s ease-in-out;
  z-index: 1000; /* Ensure it's on top */
}

.floatRight.active {
  transform: translateX(0); /* Slide into view */
}

.content h2 {
  position: absolute;
  margin-left: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.content h1 {
  margin-left: 5rem;
}